<section id="footer" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 clearfix">
                <div class="footer clearfix">
                    <p><a href="/"><img style="height: 80px; max-width: 100%;" src="img/logo1.png" alt=""></a>
                    </p>
                    <ul>
                        <li class="gauranty"><a target="_blank" href="https://www.facebook.com/"><i
                                    class="fa fa-facebook"></i></a></li>
                        <li class="gauranty_1"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="gauranty_1"><a href="#"><i class="fa fa-linkedin"></i></a></li>

                    </ul>
                    <p class="website">&copy; 2022 Bee Raising Group Ltd. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</section>