<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
    <title>Home |Bee Raising Group</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://res.cloudinary.com/feyton/image/upload/v1668274268/logo_img_isjdj6.png"
        type="image/x-icon">
    <meta name="description" content="Sweet Taste and Healthy">
    <meta name="title" content="Bee Raising Group" />
    <meta property="og:image" content="https://res.cloudinary.com/feyton/image/upload/v1668274268/logo_img_isjdj6.png">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="css/element.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.aniview.js"></script>
    <script src="js/ekko-lightbox.js"></script>
    <script>
        $(document).ready(function () {
            $('.aniview').AniView();
        });
    </script>
    <script>
        $(function () {
            if (navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {
                $('#ios-notice').removeClass('hidden');
                $('.parallax-container').height($(window).height() * 0.5 | 0);
            } else {
                $(window).resize(function () {
                    var parallaxHeight = 400;//Math.max($(window).height() * 0.7, 200) | 0;
                    $('.parallax-container').height(parallaxHeight);
                }).trigger('resize');
            }
        });
    </script>
    <script src="js/parallax.min.js"></script>



</head>