<%- include("./partials/header.ejs") %>


    <body>
        <%- include("./partials/navbar.ejs") %>
            <section id="about" class="clearfix">
                <div class="about_m clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 clearfix">
                                <div class="about clearfix">
                                    <p>ABOUT US</p>
                                    <hr class="hr_2">
                                    <h5>Our mission is to be a gamechanger in the bee raising sector and impact youth in
                                        our location</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <br>

            <section id="about_pg">
                <div class="container">
                    <div class="row">
                        <div class="about_pg_1 clearfix">
                            <div class="col-sm-5 space_right">
                                <div class="about_pg_left clearfix">
                                    <div class="card">
                                        <iframe class="iw" width="560" height="315"
                                            src="https://www.youtube.com/embed/lUFNQNdmem8" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                        <div class="card-body">
                                            <h5 class="card-title">About Us</h5>
                                            <p class="card-text">A quick overview on how we started and where we
                                                position ourselves.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 space_left">
                                <div class="about_pg_right clearfix">
                                    <h3 class="mgt">About Bee Raising Group Limited</h3>
                                    <p>SWEET TASTE AND HEALTHY</p>
                                    <div class="about_pg_right_i clearfix">
                                        <div class="col-sm-2">
                                            <div class="about_pg_right_il text-center clearfix">
                                                <span><i class="fa fa-share-alt"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="about_pg_right_ir clearfix">
                                                <h4 class="mgt">Origin</h4>
                                                <p>In 2020, The Bee raising group started an initiative of bee keeping
                                                    in Gahama cell, Kirehe Sector, Kirehe district in Eastern province
                                                    of Rwanda with the aim of job creation for youth and women and
                                                    increase the natural honey bee productivity in order to improve
                                                    health through the reduction of the sugar and other sweeteners use
                                                    that cause many health problems.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="about_pg_right_i clearfix">
                                        <div class="col-sm-2">
                                            <div class="about_pg_right_il text-center clearfix">
                                                <span><i class="fa fa-laptop"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="about_pg_right_ir clearfix">
                                                <h4 class="mgt">Legal Registration</h4>
                                                <p>Bee Raising Group Ltd is a registered company under Rwanda
                                                    government commercial law</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about_pg_1 clearfix mt-5" style="margin-top: 2rem;">
                            <div class="col-sm-7 space_right">
                                <div class="about_pg_right bg_1 clearfix">
                                    <h3 class="mgt">What drive us</h3>
                                    <p>MISSION &amp; VISION</p>
                                    <div class="about_pg_right_i clearfix">
                                        <div class="col-sm-2">
                                            <div class="about_pg_right_il text-center clearfix">
                                                <span><i class="fa fa-share-alt"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="about_pg_right_ir clearfix">
                                                <h4 class="mgt">Products</h4>
                                                <p>Apart from Honey, we make body lotion, lip sticks, shoe polish, soaps
                                                    and candles from the wax. These products satisfy more customers than
                                                    the ones we originally intended to do so.
                                                    Our products are customized for different customers. The honey is
                                                    packed in different size container from small, medium, and large
                                                    like 1kg,500g,250g,200g.
                                                    And 1kg cost 5000rwf,500g cost 2500 rwf,250g cost 1250rwf and 200g
                                                    cost 2000rwf.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="about_pg_right_i clearfix">
                                        <div class="col-sm-2">
                                            <div class="about_pg_right_il text-center clearfix">
                                                <span><i class="fa fa-laptop"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="about_pg_right_ir clearfix">
                                                <h4 class="mgt">Community</h4>
                                                <p>Bee raising group ltd creates jobs for youth and increased supply of
                                                    honey. Honey is used in place of sugar and it decreases the sugar
                                                    effects on health. The youth earns a living through.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 space_left">
                                <div class="about_pg_left clearfix">
                                    <div class="card">
                                        <iframe class="iw" width="560" height="315"
                                            src="https://www.youtube.com/embed/09wPxaeX2fk" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                        <div class="card-body">
                                            <h5 class="card-title">Story told by us</h5>
                                            <p class="card-text">Hear directly from our employees, our customers and
                                                more</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <%- include("./partials/footer.ejs") %>
                <script src="js/classie.js"></script>
                <script src="js/cbpAnimatedHeader.js"></script>

    </body>

    </html>