<%- include("./partials/header.ejs") %>


    <body>
        <%- include("./partials/navbar.ejs") %>
            <section id="about" class="clearfix">
                <div class="about_m clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 clearfix">
                                <div class="about clearfix">
                                    <p>ABOUT US</p>
                                    <hr class="hr_2">
                                    <h5>Our mission is to be a gamechanger in the agriculture sector by providing
                                        affordable agricultural inputs to the farmers while strengthening the Circular
                                        Economy model.</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <br>

            <section id="about_pg">
                <div class="container">
                    <div class="row">
                        <div class="about_pg_1 clearfix">
                            <div class="col-sm-5 space_right">
                                <div class="about_pg_left clearfix">
                                    <div class="card">
                                        <iframe class="iw" width="560" height="315"
                                            src="https://www.youtube.com/embed/BWs2jbxOBj0" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                        <div class="card-body">
                                            <h5 class="card-title">About Us</h5>
                                            <p class="card-text">A quick overview on how we started and where we
                                                position ourselves.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7 space_left">
                                <div class="about_pg_right clearfix">
                                    <h3 class="mgt">About Indintambwe</h3>
                                    <p>TURNING WASTE INTO TREASURE</p>
                                    <div class="about_pg_right_i clearfix">
                                        <div class="col-sm-2">
                                            <div class="about_pg_right_il text-center clearfix">
                                                <span><i class="fa fa-share-alt"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="about_pg_right_ir clearfix">
                                                <h4 class="mgt">Origin</h4>
                                                <p>It was founded in 2019 after identifying the opportunity to use
                                                    bio-waste to solve problems in the affordability, quality, and
                                                    sustainability of animal protein feeds in Rwanda. We create value
                                                    from the bio-wastes by recycling them into organic fertilizer, and
                                                    insect-based animal feeds.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="about_pg_right_i clearfix">
                                        <div class="col-sm-2">
                                            <div class="about_pg_right_il text-center clearfix">
                                                <span><i class="fa fa-laptop"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="about_pg_right_ir clearfix">
                                                <h4 class="mgt">Legal Registration</h4>
                                                <p>INDINTAMBWE FEED LIMITED is a registered company under Rwanda
                                                    government commercial law</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about_pg_1 clearfix mt-5" style="margin-top: 2rem;">
                            <div class="col-sm-7 space_right">
                                <div class="about_pg_right bg_1 clearfix">
                                    <h3 class="mgt">What drive us</h3>
                                    <p>MISSION &amp; VISION</p>
                                    <div class="about_pg_right_i clearfix">
                                        <div class="col-sm-2">
                                            <div class="about_pg_right_il text-center clearfix">
                                                <span><i class="fa fa-share-alt"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="about_pg_right_ir clearfix">
                                                <h4 class="mgt">Mission</h4>
                                                <p>Our mission has always been to create a meaningful impact by helping
                                                    smallholder farmers improve their productivity and reduce their
                                                    operating costs by providing affordable agricultural inputs to the
                                                    farmers while strengthening the Circular Economy model in the food
                                                    system.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="about_pg_right_i clearfix">
                                        <div class="col-sm-2">
                                            <div class="about_pg_right_il text-center clearfix">
                                                <span><i class="fa fa-laptop"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="about_pg_right_ir clearfix">
                                                <h4 class="mgt">Vision</h4>
                                                <p>Our vision is to be a leading game-changer in the agriculture sector
                                                    by providing affordable agricultural inputs to one million farmers
                                                    by 2030</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 space_left">
                                <div class="about_pg_left clearfix">
                                    <div class="card">
                                        <iframe class="iw" width="560" height="315"
                                            src="https://www.youtube.com/embed/8tNxmAHJg-Y" title="YouTube video player"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                        <div class="card-body">
                                            <h5 class="card-title">Story told by Farmers</h5>
                                            <p class="card-text">Hear directly from our customers who are satisfied
                                                with what we offer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <section id="center_5" class="clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 clearfix">
                            <div class="col-sm-3 center_5_left clearfix">
                                <div class="center_5_left_inner clearfix">
                                    <p>1500+</p>
                                    <hr class="hr_3">
                                    <h5>Farmers served</h5>
                                </div>
                            </div>
                            <div class="col-sm-3 center_5_left clearfix">
                                <div class="center_5_left_inner clearfix">
                                    <p>80+</p>
                                    <hr class="hr_3">
                                    <h5>Tons of animal feeds distributed</h5>
                                </div>
                            </div>
                            <div class="col-sm-3 center_5_left clearfix">
                                <div class="center_5_left_inner clearfix">
                                    <p>36+</p>
                                    <hr class="hr_3">
                                    <h5>Months of impact</h5>
                                </div>
                            </div>
                            <div class="col-sm-3 center_5_left clearfix">
                                <div class="center_5_left_inner clearfix">
                                    <p>4+</p>
                                    <hr class="hr_3">
                                    <h5>Regions served</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include("./partials/footer.ejs") %>
                <script src="js/classie.js"></script>
                <script src="js/cbpAnimatedHeader.js"></script>

    </body>

    </html>