<%- include("./partials/header.ejs") %>

	<body>
		<%- include("./partials/navbar.ejs") %>
			<section id="about" class="clearfix con_bg">
				<div class="about_m clearfix">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 clearfix">
								<div class="about clearfix">
									<p>CONTACT US</p>
									<hr class="hr_2">
									<h5>We are always there to assist you. Use any method convenient to you and we will
										be there to provide assistance</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="contact_us">
				<div class="contact_us">
					<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<div class="contact_center">
									<div class="col-sm-6">
										<div class="contact_center_left">
											<h4> Bee Raising Group Ltd </h4>
											<p> Your enquiry is our priority. Do not hesitate to send your query
												anytime.</p>
											<p>Kirehe District, </p>
											<p>Eastern Province </p>
											<p>Rwanda</p>
											<p>Telephone : <a href="tel:+250788425927">+250 788 425 927</a></p>

											<p>Email : <a
													href="mailto:info@beeraisinggroup.com">info@beeraisinggroup.com</a>
											</p>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="contact_center_right">
											<div class="form-area">
												<form role="form" class="contact-form">
													<br style="clear:both">

													<div class="form-group">
														<input type="text" class="form-control" id="name" name="name"
															placeholder="Name" required="">
													</div>
													<div class="form-group">
														<input type="email" class="form-control" id="email" name="email"
															placeholder="Email" required="">
													</div>
													<div class="form-group">
														<textarea class="form-control" name="message" type="textarea"
															id="message" placeholder="Message" minlength="10"
															maxlength="300" rows="4"
															title="A message should be between 10 and 300 characters"></textarea>
													</div>
													<input type="text" hidden name="bot">

													<button type="submit" id="submit" name="submit"
														class="btn btn-danger">Submit Form</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<%- include("./partials/footer.ejs") %>
				<script src="js/classie.js"></script>
				<script src="js/cbpAnimatedHeader.js"></script>
				<script>
					const emailRegex = new RegExp("[a-z0-9]+@[a-z]+\.[a-z]{2,3}")
					const form = document.querySelector(".contact-form")
					form.addEventListener("submit", (e) => {
						e.preventDefault()
						const formData = new FormData(e.target)
						let data = Object.fromEntries(formData.entries())
						console.log(data);
						if (!data.bot === "") {
							console.log("This field should be empty")
							return
						}
						if (!emailRegex.test(data?.email)) {
							console.log("Invalid email")
							return
						}

						fetch("", {
							method: "POST",
							body: formData
						}).then(response => { }).then(data => {
							console.log(data)
							alert("Your enquiry has been received")
							window.location = "/"
						})
					})
				</script>

	</body>

	</html>