<%- include("./partials/header.ejs") %>


    <body>
        <%- include("./partials/navbar.ejs") %>
            <section id="top" class="clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="top clearfix">
                                <h2>SWEET TASTE AND HEALTHY</h2>
                                <hr class="hr_1">
                                <h4>The Bee Raising Group Ltd is the company which is targeting to be center of solution
                                    by creating the jobs general for Youth and Women (Poverty eradication)</h4>
                                <p><a href="#about_pg">ABOUT US</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="center_1" class="clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="center_1 clearfix">
                                <h2>Why Us?</h2>
                                <h4>We value the impact we make</h4>
                                <hr class="hr_2">
                            </div>
                            <div class=" center_1_main clearfix">
                                <div class="col-sm-4 center_1_left clearfix">
                                    <div class="center_1_left_inner clearfix">
                                        <p class="aniview" data-av-animation="slideInRight"><img src="img/circular.jpg"
                                                class="img-circle" /></p>
                                        <h4><a href="#">The problem</a></h4>
                                        <h5 class="text-left">
                                            <ul class="text-left">
                                                <li>In 2020, The Bee raising group started an initiative of
                                                    bee keeping in
                                                    Gahama cell,
                                                    Kirehe Sector, Kirehe district in Eastern province of Rwanda with
                                                    the aim of
                                                    job creation
                                                    for youth and women and increase the natural honey
                                                    bee productivity in order to improve health through the reduction of
                                                    the
                                                    sugar and other
                                                    sweeteners use that cause many health problems.</li>
                                            </ul>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-sm-4 center_1_left clearfix">
                                    <div class="center_1_left_inner clearfix">
                                        <p class="aniview" data-av-animation="slideInDown"><img src="img/img2.png"
                                                class="img-circle" /></p>
                                        <h4><a href="#">The solution</a></h4>
                                        <h5>
                                            <ul class="text-left ">
                                                <li>
                                                    Bee raising group ltd creates jobs for youth and young women and
                                                    increased supply of honey and other products made from the wax like
                                                    : lip
                                                    sticks, candles, body lotion, soap, shoe polish, and the raw wax.
                                                    • Honey is used in place of sugar and it decreases the sugar effects
                                                    on
                                                    health.

                                                </li>
                                                <li>
                                                    The youth earns a living through. This helps the people who live
                                                    near by the
                                                    project to get the services and products without going to other
                                                    district and
                                                    city of Kigali .
                                                </li>
                                            </ul>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-sm-4 center_1_left clearfix">
                                    <div class="center_1_left_inner clearfix">
                                        <p class="aniview" data-av-animation="slideInLeft"><img src="img/feeds.png"
                                                class="img-circle" /></p>
                                        <h4><a href="#">Innovation</a></h4>
                                        <h5 class="text-left justify-content-left">
                                            <ul class="text-left ">
                                                <li>Apart from Honey, we make body lotion, lip sticks, shoe polish,
                                                    soaps and
                                                    candles from the wax. These products satisfy more customers than the
                                                    ones
                                                    we originally intended to do so.
                                                </li>
                                                <li>Our products are customized for different customers.The honey is
                                                    packed in
                                                    different size container from small, medium, and large like
                                                    1kg,500g,250g,200g.
                                                    And 1kg cost 5000rwf, 500g cost 2500 rwf, 250g cost 1250rwf .
                                                </li>
                                            </ul>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <%- include("./about.ejs") %>
                <section id="center_3" class="clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="center_3 clearfix">
                                    <h2>Our Team</h2>
                                    <p>The team behind what we offers</p>
                                    <hr class="hr_2">
                                </div>
                                <div class="center_3_top clearfix " style="justify-content: space-evenly; display:flex">

                                    <div class="col-sm-4 center_3_top_left clearfix">
                                        <div class="center_3_top_left_inner clearfix">
                                            <div class="ih-item circle colored effect16 left_to_right"><a href="#">
                                                    <div class="img"><img src="img/product1.png" alt="img"></div>
                                                    <div class="info">
                                                        <h3>Joseph Nsengimana</h3>
                                                        <p>Our <b>CEO and Founder</b></p>
                                                    </div>
                                                </a></div>
                                        </div>
                                        <div class="center_3_top_left_inner_2 clearfix">
                                            <h4 class="aniview" data-av-animation="slideInDown"><a href="#joseph">CEO
                                                    and
                                                    Founder</a>
                                            </h4>



                                        </div>
                                    </div>
                                    <div class="col-sm-4 center_3_top_left clearfix">
                                        <div class="center_3_top_left_inner clearfix">
                                            <div class="ih-item circle colored effect16 left_to_right"><a href="#">
                                                    <div class="img"><img src="img/product2.png" alt="img"></div>
                                                    <div class="info">
                                                        <h3>Olive Niyonsaba</h3>
                                                        <p>Our Production and Marketing manager</p>
                                                    </div>
                                                </a></div>
                                        </div>
                                        <div class="center_3_top_left_inner_2 clearfix">
                                            <h4 class="aniview" data-av-animation="slideInLeft"><a
                                                    href="#olive">Production and Marketing
                                                    Manager</a>
                                            </h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Products -->

                <section id="center_4">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 clearfix">
                                <div class="center_4 clearfix">
                                    <h2>Our Products</h2>
                                    <p></p>
                                    <hr class="hr_2">
                                </div>
                                <div class="center_4_middle clearfix">
                                    <div class="col-sm-4 center_4_middle_left clearfix">
                                        <div class="center_4_middle_left_inner_1 clearfix">
                                            <div class="grid clearfix">

                                                <figure class="effect-layla">
                                                    <img src="img/18.jpg" width="100%" alt="img03" />
                                                    <figcaption>

                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="center_4_middle_left_inner_2 clearfix">
                                            <h4><a href="#">Shoe Clean</a></h4>
                                            <p>Made from pure honey</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 center_4_middle_left clearfix">
                                        <div class="center_4_middle_left_inner_1 clearfix">
                                            <div class="grid clearfix">

                                                <figure class="effect-layla">
                                                    <img src="img/19.jpg" width="100%" alt="img03" />
                                                    <figcaption>


                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="center_4_middle_left_inner_2 clearfix">
                                            <h4><a href="#">Honey Baby Skin Oil</a></h4>
                                            <p>Perfect for all skins</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 center_4_middle_left clearfix">
                                        <div class="center_4_middle_left_inner_1 clearfix">
                                            <div class="grid clearfix">

                                                <figure class="effect-layla">
                                                    <img src="img/20.jpg" width="100%" alt="img03" />
                                                    <figcaption>
                                                        <h2>Honey <span></span></h2>

                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="center_4_middle_left_inner_2 clearfix">
                                            <h4><a href="#">Honey</a></h4>
                                            <p>High Quality Honey</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="center_4_middle clearfix">
                                    <div class="col-sm-4 center_4_middle_left clearfix">
                                        <div class="center_4_middle_left_inner_1 clearfix">
                                            <div class="grid clearfix">

                                                <figure class="effect-layla">
                                                    <img src="img/21.jpg" width="100%" alt="img03" />
                                                    <figcaption>

                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="center_4_middle_left_inner_2 clearfix">
                                            <h4><a href="#">Candle</a></h4>
                                            <p>Say no to darkness</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 center_4_middle_left clearfix">
                                        <div class="center_4_middle_left_inner_1 clearfix">
                                            <div class="grid clearfix">

                                                <figure class="effect-layla">
                                                    <img src="img/22.jpg" width="100%" alt="img03" />
                                                    <figcaption>


                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="center_4_middle_left_inner_2 clearfix">
                                            <h4><a href="#">Honey Lips</a></h4>
                                            <p>Made from Honey</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <%- include("./partials/footer.ejs") %>




                    <script src="js/classie.js"></script>
                    <script src="js/cbpAnimatedHeader.js"></script>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('i.glyphicon-thumbs-up, i.glyphicon-thumbs-down').click(function () {
                                var $this = $(this),
                                    c = $this.data('count');
                                if (!c) c = 0;
                                c++;
                                $this.data('count', c);
                                $('#' + this.id + '-bs3').html(c);
                            });
                            $(document).delegate('*[data-toggle="lightbox"]', 'click', function (event) {
                                event.preventDefault();
                                $(this).ekkoLightbox();
                            });
                        });

                    </script>
    </body>

    </html>